assets/uploads/*
assets/landlord/uploads/*
assets/tenant/uploads/*
.idea
/.idea
robots.txt
web.config
.vs_code
core/.env
core/vendor
core/storage/*
core/node_module
.DS_Store
core/node_modules
core/public/build
core/public/hot
core/public/storage
core/storage
core/.env.backup
core/.phpunit.result.cache
core/auth.json
core/npm-debug.log
core/yarn-error.log
core/bootstrap/cache
/.vscode
./core/.env
/multi_vendor.sql
/database